.directory

.idea/deployment.xml
.idea/fd-plugins.iml
.idea/modules.xml
.idea/php.xml
.idea/sshConfigs.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
.gitignore
filelist
sieve/personal/mail/mail-methods/Sieve.php
