/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
SPAN.textit		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
#hue16		{ color: #0000ff;  }
#hue210		{ color: #ff0000;  }
#hue228		{ color: #ff0000;  }
#hue231		{ color: #ff0000;  }
#hue276		{ color: #ff0000;  }
#hue33		{ color: #000000;  }
#hue335		{ color: #ff0000;  }
#hue347		{ color: #ff0000;  }
#hue352		{ color: #ff0000;  }
#hue397		{ color: #000000;  }
#hue428		{ color: #ff0000;  }
#hue431		{ color: #ff0000;  }
#hue433		{ color: #ff0000;  }
#hue435		{ color: #ff0000;  }
#hue437		{ color: #ff0000;  }
#hue439		{ color: #ff0000;  }
#hue441		{ color: #ff0000;  }
#hue456		{ color: #000000;  }
#hue460		{ color: #000000;  }
#hue481		{ color: #000000;  }
#hue485		{ color: #000000;  }
#hue495		{ color: #ff0000;  }
#hue506		{ color: #ff0000;  }
#hue507		{ color: #ff0000;  }
#hue511		{ color: #ff0000;  }
#hue522		{ color: #ff0000;  }
#hue523		{ color: #ff0000;  }
#hue531		{ color: #ff0000;  }
#hue534		{ color: #ff0000;  }
#hue535		{ color: #ff0000;  }
#hue539		{ color: #ff0000;  }
#hue540		{ color: #ff0000;  }
#hue542		{ color: #ff0000;  }
#hue544		{ color: #ff0000;  }
#hue546		{ color: #ff0000;  }
#hue549		{ color: #ff0000;  }
#hue550		{ color: #ff0000;  }
#hue552		{ color: #ff0000;  }
#hue553		{ color: #ff0000;  }
#hue555		{ color: #ff0000;  }
#hue556		{ color: #ff0000;  }
#hue99		{ color: #ff0000;  }
