Source: fusiondirectory-plugin-sympa
Section: web
Priority: optional
Maintainer: Benoit Mortier <benoit.mortier@opensides.be>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: po-debconf
Standards-Version: 3.9.1
Homepage: http://www.fusiondirectory.org/
Vcs-Browser: http://git.fusiondirectory.org/code/
DM-Upload-Allowed: yes

Package: fusiondirectory-plugin-sympa
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: fusiondirectory (<<1.0.1)
Description: alias plugin for FusionDirectory
 This plugin is designed to configure mail aliases for postfix.
 It provide description and expiration Date
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-sympa-schema
Architecture: all
Depends: ${misc:Depends}, slapd
Breaks: fusiondirectory (<<1.0.1)
Description: alias schema for alias plugin for FusionDirectory
 This plugin is designed to configure mail aliases for postfix.
 It provide description and expiration Date
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
